@font-face {
	font-family: 'Acrom';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Acrom.woff2") format("woff2"),
	url("../font/Acrom.woff") format("woff");
}
